#layout{
    width: 980px;
    margin: 0px auto;
    display: block;
}
#header, #footer{
    display: block;
    min-height: 80px;
    background-color: #f5f5f5;
}
#main{
    float: left;
    min-height: 400px;
    width: 650px;
    margin-right: 5px;
    display: block;
    border: 1px solid #EEEEEE;
}
#rightSide{
    float: left;
    min-height: 400px;
    border: 1px solid #DDD;
    width: 300px;
}